<tr>
    <td><%= event.name %></td>
    <td><%= event.game.name %></td>
    <td><%= event.user.email %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
</tr>
